:root {
    --bg-primary : #372C5C;
    --pink : #E37F7C;
    --pink-solid : #C84449;
}

* {
    font-family: 'Poppins';
}
.section-login {
    height: 100vh;
    width: max-content;
    margin: auto;
}
.section-login  * {
    width: 100%;
}

.aside-app {
    height: 100vh;
    background-color: aqua;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    padding: 15px;
}
.content-app {
    min-height: 100vh;
    background-color: rgb(251, 255, 0);
    width: calc(100% - 250px);
}

